*{
    padding: 0;
    margin: 0;
}
.ser_main{
    background-color: #b1b0b0;
}
.text_main{
    font-size: 2.5rem;
    font-weight: 500;
}
.text_primary{
    font-size: 1.1rem;
    text-align: justify;
}
.ser_img{
    height: 400px;
}
.ser_btn{
    border: none;
    background-color: #e96d2a;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 13rem;
    font-size: 15px;
    transition: 0.9s border-radius;
    color: white;
}
.ser_btn:hover{
    border-radius: 2rem;
    background-color: #e75e14;
}
.heading{
    background-color: #e75e14;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    width: 50%;
    border-radius: 0 6rem 0 0;
    padding-left: 5%;
}
.ser_num{
    background-color: #e96d2a;
    padding: 1rem;
    width: max-content;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5rem;
    width: 4.3rem;
    text-align: center;
}
.data_heading{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0;
}