//
// _card.scss
//

.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
  // --------------------
  // overflow: hidden;
  background-color: #fff;
  border-radius: 12px;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.card-header {
  background-color: #fff;
  padding: 40px var(--bs-card-spacer-x);
  border-bottom: 1px solid #dededf;
  position: relative;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.card-body {
  // padding: 40px;
  padding: 40px var(--bs-card-spacer-x);
  background-color: transparent;
  border-radius: 12px;
}

.card-footer {
  background-color: #fff;
  padding: 40px var(--bs-card-spacer-x);
  border-top: 1px solid #dededf;
  position: relative;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;
}
