.product-card-wrapper {
  background-color: #dfdddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 8px;
  border: 1px solid rgb(161, 159, 159);
  border-radius: 25px;
  /* height: 320px; */
  /* height: 355px; */
  transition: 0.25s;
  overflow: hidden;
}

.product-card-wrapper:hover {
  /* cursor: pointer; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.product-card-image-box {
  width: 200px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(194, 192, 192);
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.product-card-image-box .product-card-image {
  width: 100%;
  transition: 0.25s;
}
.product-card-image-box:hover .product-card-image {
  transform: scale(1.2);
}

.product-card-body {
  width: 100%;
}
.product-card-body .p-hover:hover {
  text-decoration: underline;
}
.product-card-body .prod-title {
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: 700;
  color: rgb(48, 48, 48);
  line-height: 1.3;
  min-height: 20px;
  text-transform: capitalize;
  cursor: pointer;
  /* ------------- */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  /* display: inline-block; */
}
.product-card-body .prod-description {
  margin-bottom: 0;
  min-height: 38px;
  line-height: 1.2;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 3px;
  cursor: pointer;
  line-height: 1.2;
  margin-bottom: 0;
  /* ------------- */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-card-body .prod-description p,
.product-card-body .prod-description h1,
.product-card-body .prod-description h2,
.product-card-body .prod-description h3,
.product-card-body .prod-description h4,
.product-card-body .prod-description h5,
.product-card-body .prod-description h6 {
  font-size: 0.9rem;
}
.product-card-body .prod-description p,
.product-card-body .prod-description li {
  margin-bottom: 0;
}
.product-card-body .prod-price {
  font-weight: 600;
  margin-bottom: 0;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
.product-card-body .prod-price:hover {
  text-decoration: underline;
}
.product-card-body .prod-price::before {
  content: "Rs";
  margin-right: 4px;
  text-decoration: none !important;
}
.product-card-body .prod-price:hover::before {
  text-decoration: none !important;
}

/* ------- */

.prod_cart_option {
  width: 100%;
  margin-top: 10px;
}
.prod_cart_option .buttons_opt {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.prod_cart_option .buttons_opt_skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.prod_cart_option .buttons_opt span {
  color: black;
  font-size: 14px;
}

.prod_cart_option .buttons_opt .m_btn {
  color: black;
  height: 20px;
  width: 20px;
  transition: 0.25s;
}

.prod_cart_option .buttons_opt .m_btn:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.prod_cart_option .cart_item {
  width: 33px;
  font-size: 20px !important;
  text-align: center;
}

.prod_cart_option .cart_btn {
  background-color: var(--color-primary);
  font-size: 12px;
  font-weight: 500;
  color: white;
  transition: 0.25s;
  border-radius: 20px;
  height: 35px;
  line-height: 1;
  margin-left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
  box-shadow: none !important;
}
.prod_cart_option .cart_btn:disabled {
  background-color: var(--color-primary);
  color: #FFF;
}
.prod_cart_option .cart_btn_skeleton {
  font-size: 14px;
  color: white;
  transition: 0.25s;
  border-radius: 20px;
}

.prod_cart_option .cart_btn:hover,
.prod_cart_option .cart_btn:focus {
  color: white !important;
  background-color: var(--color-primary-hover) !important;
}

/* ----- */

@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-card-image-box {
    width: 170px;
  }
}

@media (max-width: 768px) {
  .product-card-body .prod-title {
    font-size: 17px;
  }
  .product-card-body .prod-description {
    font-size: 15px;
  }
  .product-card-body .prod-price {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
}
