.product-card-image-box .product-card-image_skeleton {
  width: 200px;
  height: 180px;
  transition: 0.25s;
  transform: scale(1.2);
}

.prod-price_skeleton {
  width: 30px;
}

.btn_cart_btn_skeleton {
  height: 56px !important;
  display: inline !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.cart_item_skeleton {
  margin-left: 5px;
  margin-right: 5px;
}