.product-detail-page {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}
.product-detail-image_box {
  width: 40%;
}
.product-detail-info_box_wrapper {
  width: 60%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.product-detail-image_box .product-detail-displayed-image_wrapper {
  display: flex;
  justify-content: center;
}
.product-detail-image_box
  .product-detail-displayed-image_wrapper
  .product-detail-displayed-image {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(187, 186, 186);
  overflow: hidden;
}
.product-detail-image_box
  .product-detail-displayed-image_wrapper
  .product-detail-displayed-image
  img {
  width: 100%;
  transition: 0.25s;
}
.product-detail-image_box
  .product-detail-displayed-image_wrapper
  .product-detail-displayed-image:hover
  img {
  transform: scale(1.12);
}

.product-detail-displayed-other-images-wrapper {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.product-detail-displayed-other-images-box {
  padding-left: 5px;
  padding-right: 5px;
  width: 90px !important;
  text-align: center;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  display: flex;
  justify-content: center;
}
.product-detail-displayed-other-images-box.product-detail-imgb_selected {
  border: 1px solid var(--color-primary) !important;
}
.product-detail-displayed-other-images-box.product-detail-imgb_not_selected {
  border: 1px solid rgb(217, 215, 215) !important;
}
.product-detail-displayed-other-images-box img {
  width: 80px;
  height: 80px;
}

.product-detail-displayed-other-images-wrapper .slick-arrow {
  width: 1rem;
  height: 1rem;
  color: var(--text-color);
  z-index: 99;
}
.product-detail-displayed-other-images-wrapper .slick-arrow.slick-prev {
  left: -14px;
}
.product-detail-displayed-other-images-wrapper .slick-arrow.slick-next {
  right: -8px;
}
.product-detail-displayed-other-images-wrapper .slick-arrow:hover {
  color: var(--color-primary) !important;
}

.product-detail-description {
  margin-top: 25px;
}

.prod_d_info-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}
.prod_d_info-price {
  position: relative;
  font-size: 1.2rem;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 0px;
}
.prod_d_info-price::before {
  content: "Rs.";
  margin-right: 4px;
}
.prod_d_info-discount_box {
  display: flex;
}
.prod_d_info-discount_box .prod_d_info-discount_price {
  position: relative;
  color: gray;
  margin-right: 8px;
}
.prod_d_info-discount_box .prod_d_info-discount_price::before {
  content: "Rs.";
  margin-right: 4px;
}

.prod_d_quantity_box_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.prod_d_quantity_title {
  margin-right: 12px;
  margin-bottom: 0;
}
.prod_d_quantity_box {
  display: flex;
  align-items: center;
  border: 1px solid gray;
}
.prod_d_quantity_box button {
  border-radius: 0;
}
.prod_d_quantity {
  width: 80px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  margin-bottom: 0;
}
.prod_d_cart_button button {
  width: 200px;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}
.prod_d_cart_button .prod_d_cart_button_buynow {
  margin-right: 15px;
  background-color: rgb(5, 115, 170) !important;
}
.prod_d_cart_button .prod_d_cart_button_buynow:hover {
  background-color: rgb(5, 115, 170);
  opacity: 0.9 !important;
}
.prod_d_cart_button .prod_d_cart_button_add_cart {
  background-color: var(--color-primary) !important;
}
.prod_d_cart_button .prod_d_cart_button_add_cart:hover {
  background-color: var(--color-primary);
  opacity: 0.9 !important;
}

@media (max-width: 1024px) {
  .product-detail-displayed-other-images-box {
    width: 70px !important;
  }
  .product-detail-displayed-other-images-box img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 862px) {
  .product-detail-page {
    flex-direction: column;
  }
  .product-detail-image_box {
    width: 100%;
    margin-bottom: 30px;
  }
  .product-detail-info_box_wrapper {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .prod_d_info-title {
    font-size: 1.2rem;
  }
  .prod_d_cart_button button {
    margin-bottom: 10px;
  }
  .product-detail-displayed-other-images-box {
    width: 50px !important;
  }
  .product-detail-displayed-other-images-box img {
    width: 40px;
    height: 40px;
  }
}
