.cart_page-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
}

.cart_page-card {
  background-color: #fff;
  border: 1px solid rgb(220, 220, 220);
  margin-bottom: 20px;
}
.cart-shop-title {
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.cart-items-count {
  font-size: 1rem;
  font-weight: 500;
}
.cart-items-count a {
  color: var(--color-primary);
}
.cart-items-count a:hover {
  color: var(--color-primary-hover);
}
.cart_pg-detail {
  padding: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
  display: flex;
}
.cart_pg-detail:not(:first-child) {
  margin-top: 1rem;
}
.cart_pg-detail:not(:last-child) {
  border-bottom: 1px solid rgb(220, 220, 220);
}

.cart_pg-detail .cart-image-box {
  width: 90px;
  height: 70px;
  overflow: hidden;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 6px;
  padding: 4px;
  margin-right: 5px;
}
.cart_pg-detail .cart-image-box img {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.cart_pg-detail .cart-info-detail {
  width: 60%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.cart_pg-detail .cart-info-detail .cart-name {
  margin-bottom: 0;
  line-height: 1.2;
}
.cart_pg-detail .cart-info-detail p {
  margin-bottom: 0;
}
.cart-pricing-wrapper {
  width: 30%;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.cart_pg-detail .cart-pricing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  margin-right: auto;
}
.cart_pg-detail .cart-pricing p {
  margin-bottom: 0;
  font-size: 15px;
}
.cart_pg-detail .cart-pricing p span.p_title {
  font-weight: 600;
}
.cart_pg-detail .cart-pricing p span.p_data {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: var(--color-primary);
}
.cart_pg-detail .cart-pricing p span.p_data {
  display: inline-block;
  position: relative;
}
.cart_pg-detail .cart-pricing p span.p_data::before {
  content: "Rs";
  margin-right: 3px;
}

.cart-prod-customize {
  display: flex;
  align-items: center;
}

.cart-prod-customize .buttons_opt {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart-prod-customize .buttons_opt_skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.cart-prod-customize .buttons_opt span {
  color: black;
  font-size: 16px;
  min-width: 30px;
  text-align: center;
}

.cart-prod-customize .buttons_opt .m_btn {
  color: black;
  height: 20px;
  width: 20px;
  transition: 0.25s;
}

.cart-prod-customize .buttons_opt .m_btn:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.cart-item-delete {
  color: var(--color-primary);
  margin-left: 8px;
  cursor: pointer;
}
.cart-item-delete:hover {
  color: rgb(255, 0, 0);
}

.checkout_button-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.checkout_button {
  background-color: var(--color-primary) !important;
  color: #ffffff !important;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-size: 16px !important;
  font-weight: 600;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.checkout_button:hover,
.checkout_button:focus {
  background-color: var(--color-primary-hover) !important;
}

@media (max-width: 870px) {
  .cart_pg-detail {
    flex-wrap: wrap;
  }
  .cart-pricing-wrapper {
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    border-top: 1px solid rgb(199, 196, 196);
    padding-top: 0.75rem;
  }
  .cart-pricing {
    margin-right: 10px !important;
  }
}

@media (max-width: 512px) {
  .cart_pg-detail .cart-image-box {
    width: 70px;
    height: 50px;
  }
}
