
.boxshadow_v1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.boxshadow_v2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.boxshadow_v3 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card {
  border: 1px solid #e5e3e3 !important;
}
.card_border {
  border: 1px solid #e5e3e3 !important;
}
.field_error {
  color: #ec4561;
  font-size: 12px;
  padding-left: 1px;
  padding-right: 1px;
  display: block;
}
